body {
    overflow-y: scroll;
}

#canvas-container {
    overflow: hidden;

}

#output-canvas-container {
    overflow: hidden;
    width: 360px;
    height: 360px;

    /* http://lea.verou.me/css3patterns/#diagonal-stripes */
    background-color: #aaa;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.5) 20px, rgba(255,255,255,.5) 40px);
}

#output-canvas {
    display: block;
    transform-origin: top left;
}
